body{
    background-color: #c0cef3;
}

/*-start header-*/
/*start navbar*/
.navbar{
    color: white;
    overflow: hidden;
}

ul{
    list-style: none;
    padding: 0;
    float: right;
}

li{
    float: left;
    padding: 12px;
    overflow: hidden;
    
}
/* end navbar*/
/* start container*/
.container{
 
   width: 1880px;
    margin: auto;
    margin-top: 0px;
    height: 420px;
  
   background-image: url(imag/m6.jpg);
   
  
  background-repeat: no-repeat;
  background-size: cover;
  
   
}

img{
    float: left;
}
.th{
    color:blue;
}
.a1{
    font-size: 26px;
    color: rgb(236, 56, 35);
}
.a1:hover{
    color: rgb(236, 56, 35);
}
.a2{
    font-size: 26px;
    color:rgb(236, 56, 35) ;
}
.a2:hover{
    color:rgb(236, 56, 35) ;
}
.a3{
    font-size: 26px;
    color: rgb(236, 56, 35);
}
.a3:hover{
    color: rgb(236, 56, 35);

}
.a4{
    font-size: 26px;
    color: rgb(236, 56, 35);
}
.a4:hover{
    color: rgb(236, 56, 35);
}
.name{
text-align: left;

color:  rgb(233, 174, 10) ;
margin-left: 25px;


 }
 
 .name1{
    font-size: 75px;
    
 }
 .name1:hover{
     color:rgb(221, 19, 19);
 }
.but{
text-align: left;
margin-left: 75px;

}

.car{
    text-align: left;
   margin-left: 112px;
    
}
.fas{
    color:  brown;
}
/*-end header-*/


.but4{
    float: right;
    margin-right: 65px;
}

/* end container*/
/* start p*/
.mar{
    text-align: center;

    
}
.mar:hover{
    color: rgb(221, 19, 19);
    font-style:italic;
    
}
.imags,img{
    margin: 8px;
    
}

/*end p*/
/* start span*/
/* start p1*/
/*  start images*/



.divs{
    overflow: hidden;
    padding-top: 30px;
    margin-bottom: 30px;
    

}
.div1{
    float: left;
    width: 33.33333%;
    height: 195px;
    
    padding: 10px;
}
p:hover{
    
    font-size: 17px;
}
/* end image*/
/*end p1*/

/*end span*/
/*start p2*/
/* start divs2 and div3*/
.divs2{
    
    overflow: hidden;
    float:right;
}
.div2.img{
    float: left;
    width: 100%;


}
.div3{
    text-align: center;
    padding-left: 20px;
}
.but2{
    float: right;
    margin-right: 100px;
}


/* end divs2 and div3*/
/*end p2*/
/*start p3*/
/*start div5,h3*/

.div5,h3{
    text-align: center;
}
.but3{
    float: right;
    margin-right:100px; 
}


/* end div5,h3*/
/*end p3*/
/*  start footers*/
.icons,i{
    text-align: center;
    padding: 23px;
    padding-top: 35px;
    color: cornsilk;

}


.footer{
    background-color: rgb(117, 112, 112);
    margin-top: 12px;
}
.footer1{
    text-align: center;
    font-size: 24px;
    background-color: rgb(54, 48, 48);
    color: rgba(245, 245, 245, 0.637);
    
}
/* end footers*/
